# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# local development environment variables
.dev.vars

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# wrangler
.wrangler/state/v3/cache/default/blobs/
.wrangler/state/v3/cache/miniflare-CacheObject/*.sqlite
.wrangler/state/v3/kv/*/blobs/
.wrangler/state/v3/kv/miniflare-KVNamespaceObject/*.sqlite
